@using AgroFirma.Component.Helpers
@model IEnumerable<Model.rorder>
@{
    ViewBag.Title = "Контракт";
    ViewBag.ListGroupTitle = "Зарезервированые товары";
}

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                <div class="col-lg-12">
                    @Html.DisplayNameFor(modelItem => modelItem.rstock.IMAGE_PATH)
                </div>
            </th>
            <th>
                <div class="col-lg-12">
                    @Html.DisplayNameFor(modelItem => modelItem.rstock.NAME)
                </div>
            </th>
            <th>
                <div class="col-lg-12">
                    @Html.DisplayNameFor(modelItem => modelItem.rstock.INFO)
                </div>
            </th>
            <th>
                <div class="col-lg-12">
                    @Html.DisplayNameFor(modelItem => modelItem.QANTITY)
                </div>
            </th>
            <th>
                <div class="col-lg-12">
                    Стоимость
                </div>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="col-lg-12">
                        @Html.DisplayActionLincImage("Details", "Stock", item.FK_ID_STOCK, new { src = item.rstock.IMAGE_PATH, @class = "img-thumbnail img-thumbnail-custom img-responsive center-block", alt = "Responsive image" })
                    </div>
                </td>
                <td>
                    <div class="col-lg-12">
                        @Html.ActionLink(@item.rstock.NAME, "Details", "Stock", new { id = item.FK_ID_STOCK }, null)
                    </div>
                </td>
                <td>
                    <div class="col-lg-12">
                        @Html.DisplayFor(e => item.rstock.INFO)
                    </div>
                </td>
                <td>
                    <div class="col-lg-12">
                        @Html.DisplayFor(e => item.QANTITY)
                    </div>
                </td>
                <td>
                    <div class="col-lg-12">
                        @{ decimal resSum = item.QANTITY * item.rstock.PRICE_ONE; }
                        @Decimal.Round(resSum, 2) руб.
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td>
                <div class="col-lg-12">
                    Итого:
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="col-lg-12">
                    @Model.Sum(x => x.QANTITY*x.rstock.PRICE_ONE).ToString("F") руб.
                </div>
            </td>
        </tr>
        @if (Model.ToList()[0].rcontract.FLAG_PAYMENT == 0)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="col-lg-12">
                        @Html.ActionLink("Оплатить", "Pay", new {id = Model.ToList()[0].FK_ID_CONTRACT}, new {@class = "btn btn-primary"})
                    </div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3 class="text-center">Продуктов в корзине нет</h3>
}