@model IEnumerable<Model.rcontract>
@{
    ViewBag.Title = "Контракты";
    ViewBag.ListGroupTitle = "Контракты которые вы недавно заключили";
}

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover ">
            <tr>
                <th>
                    №
                </th>
                <th></th>
                <th>
                    Колличество товаров
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.IS_READY)
                </th>
                <th></th>
                <th></th>
            </tr>
            @{ var j = 1; }
            @foreach (var element in Model)
            {
                string is_ready;
                if (element.IS_READY == 1)
                {
                    is_ready = "class=alert-success";
                }
                else
                {
                    is_ready = String.Empty;
                }
                <tr @is_ready>
                    <td>
                        @j
                        @{ j += 1; }
                    </td>

                    <td>
                        @Html.ActionLink("Договор", "Details", new { id = element.PK_ID }, null)
                    </td>
                    <td>
                        @element.rorder.Count()
                    </td>
                    <td>
                        @element.DATE.Date.ToString("D")
                    </td>
                    <td>
                        @if (element.IS_READY == 0)
                        {
                            <div>В обработке</div>
                        }
                        else
                        {
                            <div>Готов</div>
                        }
                    </td>

                    @{
                        string is_pay;
                        if (element.FLAG_PAYMENT == 1)
                        {
                            is_pay = "class=alert-success";
                        }
                        else
                        {
                            is_pay = String.Empty;
                        }
                    }

                    <td @is_pay>
                        @if (element.FLAG_PAYMENT == 0)
                        {
                            @Html.ActionLink(" ", "Pay", new { id = element.PK_ID }, new { @class = "glyphicon glyphicon-usd pull-right" })
                        }
                        else
                        {
                            <div>Оплачено</div>
                        }
                    </td>
                    <td>
                        @if (element.FLAG_PAYMENT == 0)
                        {
                            @Html.ActionLink(" ", "RefuseContract", new { id = element.PK_ID }, new { @class = "glyphicon glyphicon-remove pull-right" })
                        }
                    </td>


                </tr>
            }
        </table>
    </div>
    
}
else
{
    <h3 class="text-center">У вас нет оформленных контрактов</h3>
}