@using AgroFirma.Helpers
@model Model.rnews
@{
    ViewBag.Title = "Новости";
    ViewBag.ListGroupTitle = String.Format("Новость {0}", Model != null ? "- " + Model.NAME : "");
}

@if (@Model != null)
{
    <div class="col-lg-4">
        @Html.DisplayImage(new {src = Model.IMAGE_PATH, @class = "img-thumbnail img-responsive center-block", alt = "Responsive image"})
    </div>
    <div class="col-lg-8">
        <table class="table">
            <tr>
                <td>@Html.DisplayNameFor(e => e.NAME)</td>
                <td>@Model.NAME</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(e => e.TEXT)</td>
                <td>@Model.TEXT</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(e => e.DATE)</td>
                <td>@Model.DATE.Date.ToString("D")</td>
            </tr>
        </table>
    </div>
}
else
{
    <h3 class="text-center text-center alert-danger">Новости которую Вы ищите нет</h3>
}