@using AgroFirma.Component.Helpers
@model Model.rnews
@{
    ViewBag.Title = "Новости";
}

<div class="list-group list-cust card-head">
    <h5 class="list-group-item active">Карточка новости - @Model.NAME</h5>
    <div class="col-lg-12 card-body">
        <div class="col-lg-4">
            @Html.DisplayImage(new {src = Model.IMAGE_PATH, @class = "img-thumbnail img-responsive center-block", alt = "Responsive image"})
        </div>
        <div class="col-lg-8">
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(e => e.NAME)</td>
                    <td>@Model.NAME</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(e => e.TEXT)</td>
                    <td>@Model.TEXT</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(e => e.DATE)</td>
                    <td>@Model.DATE.Date.ToString("D")</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(e => e.IS_ACTIVE)</td>
                    <td>
                        @if (@Model.IS_ACTIVE == 1)
                        {
                            <div class="alert alert-success">Активная</div>
                        }
                        else
                        {
                            <div class="alert alert-danger">Не активная</div>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <p>
            @Html.ActionLink("Редактировать", "Edit", "News", new { id = @Model.PK_ID }, new { @class = "btn btn-primary pull-right" })
            @Html.ActionLink("Удалить", "Delete", "News", new { id = @Model.PK_ID }, new { @class = "btn btn-primary pull-right" })
        </p>
    </div>  
</div>