@model Model.ccategory
@{
    ViewBag.Title = "Добавление категории товара";
}

@using (Html.BeginForm("Add", "Catalog", null, FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-lg-offset-2 col-lg-4">
        
        <div class="form-group">
            @Html.LabelFor(model => model.IMAGE_PATH, new {@class = "control-label"})
            @Html.TextBoxFor(model => model.IMAGE_PATH, new {@class = "form-control", type = "file"})
            @Html.ValidationMessageFor(model => model.IMAGE_PATH, "", new {@class = "text-danger"})
        </div>

    </div>
    <div class="col-lg-4">
        
        <div class="form-group">
            @Html.LabelFor(model => model.PARENT_ID, htmlAttributes: new {@class = "control-label"})
            @Html.DropDownListFor(model => model.PARENT_ID, Model.PARENT_ID_SelectList, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.PARENT_ID, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEXT, htmlAttributes: new {@class = "control-label"})
            @Html.TextBoxFor(model => model.TEXT, new {@class = "form-control", placeholder = "Наименование"})
            @Html.ValidationMessageFor(model => model.TEXT, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-primary"/>
        </div>
    </div>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@