@using AgroFirma.Helpers
@using Components
@using Model
@using Model.Infrastructure
@*@model Model.Infrastructure.PageModel*@

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Fresh</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
<body>

    <nav class="navbar navbar-default user-navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fresh", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Администрирование<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="dropdown-header">Склад</li>
                            <li role="presentation">@Html.ActionLink("Добавить", "Create", "Stock")</li>
                            <li role="presentation" class="divider"></li>

                            <li role="presentation" class="dropdown-header">Категория</li>
                            <li role="presentation">@Html.ActionLink("Добавить", "Add", "Catalog")</li>
                            <li role="presentation" class="divider"></li>

                            <li role="presentation" class="dropdown-header">Новости</li>
                            <li role="presentation">@Html.ActionLink("Добавить", "Add", "News")</li>
                            <li role="presentation">@Html.ActionLink("Редактировать", "ListAdmin", "News")</li>
                            <li role="presentation" class="divider"></li>

                            <li role="presentation" class="dropdown-header">Договора</li>
                            <li role="presentation">@Html.ActionLink("Просмотр", "ListAdmin", "Contract")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Контакты", "Index", "Contact")</li>
                </ul>
                @*<ul class="nav navbar-nav">
                        <li class="active"><a href="#">Ссылка</a></li>
                        <li><a href="#">Ссылка</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Действие</a></li>
                                <li><a href="#">Другое действие</a></li>
                                <li><a href="#">Что-то еще</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Отдельная ссылка</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Еще одна отдельная ссылка</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Отправить</button>
                    </form>*@
                <ul class="nav navbar-nav navbar-right">
                    @if (@ViewBag.CountElementToContract != null)
                    {
                        <li>
                            @Html.ActionLinkContractCount(String.Empty, "List", "Contract", (int)@ViewBag.CountElementToContract)
                        </li>
                    }
                    @if (@ViewBag.CountElementToBasket != null)
                    {
                        <li>
                            @Html.ActionLinkBasketCount(String.Empty, "List", "Basket", (int)@ViewBag.CountElementToBasket)
                        </li>
                    }
                    <li>
                        <a href="#" class="glyphicon glyphicon-share"></a>
                        @* TODO: выход с сайта не работает *@
                    </li>
                    @*<li>
                        @Html.ActionLinkContractCount("List", "Contract", @Model.CountElementToContract)
                    </li>
                    <li>
                        @Html.ActionLinkBasketCount("List", "Basket", @Model.CountElementToBasket)
                    </li>*@

                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Действие</a></li>
                                <li><a href="#">Другое действие</a></li>
                                <li><a href="#">Что-то еще</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Отдельная ссылка</a></li>
                            </ul>
                        </li>*@
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


<div class="container user-container">
    @if (@ViewBag.Title != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h3>@ViewBag.Title</h3>
                </div>
            </div>
        </div>
    }
    
    <div class="row">
        <div class="col-lg-3 user-meny">
            @if (@ViewBag.WrapModels != null)
            {
                <div class="list-group list-group-custom-gray">
                    <div class="list-group-item active">Меню</div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.Menu("List", "Catalog", (IEnumerable<WrapModel<ccategory>>)@ViewBag.WrapModels)
                            </div>
                        </div>
                    </div> 
                </div>
            }


            @if (@ViewBag.NewsList != null)
            {
                <div class="list-group list-group-custom-gray">
                    @* TODO: Добавить колличество новостей в кружочке *@
                    @Html.ActionLink("Новости", "List", "News", null, new {@class = "list-group-item active"})
                    @foreach (rnews item in @ViewBag.NewsList)
                    {
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.ActionLink(@item.NAME, "Details", "News", new {id = item.PK_ID}, new {@class = "text-primary"})
                                    @*<p class="list-group-item-text">@item.TEXT</p>*@
                                    <h5 class="list-group-item-text">@item.DATE.Date.ToString("D")</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>


        <div class="col-lg-9">
            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
            }

            @if (@ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success" role="alert">@ViewBag.SuccessMessage</div>
            }

            @if (@ViewBag.ListGroupTitle != null)
            {
                <div class="list-group list-group-custom">
                    <div class="list-group-item active">@ViewBag.ListGroupTitle</div>

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-lg-12">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render(" ~/bundles/jsUser")
   
@RenderSection("scripts", required: false)
</body>
</html>
